@forward "globals";
@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Don\'t use units when using the rem() function; only numbers.';
  }
}

body {
  margin: auto;
  max-width: rem(375);
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 16px 56px;
}

.hero {
  margin: 0 16px;
}

.hero-main {
  height: rem(325);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.curve1 {
  width: 40%;
  margin-right: 45px;
  margin-bottom: 10px;
}

.curve-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.phone-img {
  width: rem(343);
  height: rem(240);
  border-radius: 15px;
  margin-top: 56px;
  margin-bottom: 56px;
  background-image: url("../../assets/image-hero-landscape@2x.png");
  background-size: cover;
}

.stats-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 56px;
}

.stat {
  margin-bottom: rem(32);
  text-align: center;
}

.stat:last-of-type {
  margin-bottom: 0;
}

.testimonial {
  position: relative;
  height: rem(930);
}

.t-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

.t-text {
  background-color: var(--dark-blue);
  border-radius: 15px;
  padding-top: 360px;
  padding-bottom: 64px;
  position: absolute;
  top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.jeremy {
  width: 252px;
  background-image: url("../../assets/pattern-blur.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.curve2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

footer {
  background-color: var(--cream);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  width: 81px;
  height: 32px;
}

.soc-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tw {
  margin-left: 28px;
  margin-right: 28px;
}
