@forward "globals";
@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Don\'t use units when using the rem() function; only numbers.';
  }
}

body {
  margin: auto;
  max-width: rem(375);

  @media screen and (min-width: 48rem) {
    max-width: rem(768);
  }

  @media screen and (min-width: 90rem) {
    max-width: rem(1440);
  }
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px 56px;
  @media screen and (min-width: 48rem) {
    padding: 40px 40px 80px;
  }

  @media screen and (min-width: 90rem) {
    padding: 50px 165px 67px;
  }
}

.hero {
  margin: 0 16px 56px;

  @media screen and (min-width: 48rem) {
    margin: 0 0 90px;
  }

  @media screen and (min-width: 90rem) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem(1440);
    height: rem(600);
    padding: 0 165px;
  }
}

.hero-cont {
  @media screen and (min-width: 48rem) {
    display: flex;
    align-items: center;
    position: relative;
    height: rem(482);
    margin: 0 40px 88px;
  }

  @media screen and (min-width: 90rem) {
    margin: 0;
    height: rem(600);
  }
}

.hero-main {
  height: rem(325);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 48rem) {
    width: rem(500);
    height: rem(400);
  }

  @media screen and (min-width: 90rem) {
    width: rem(635);
    height: rem(458);
  }
}

.curve1 {
  width: 40%;
  margin-right: 45px;
  margin-bottom: 10px;

  @media screen and (min-width: 48rem) {
    width: 45%;
    margin-bottom: 16px;
  }
}

.curve-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.phone-img {
  width: rem(343);
  height: rem(240);
  border-radius: 15px;
  margin-top: 56px;
  margin-bottom: 56px;
  background-image: url("../../assets/image-hero-landscape@2x.png");
  background-size: cover;

  @media screen and (min-width: 48rem) {
    position: absolute;
    right: 0;
    margin: 0;
    z-index: -1;
    width: rem(281);
    height: rem(482);
    background-image: url("../../assets/image-hero-portrait@2x.png");
  }

  @media screen and (min-width: 90rem) {
    width: rem(350);
    height: rem(600);
    left: 474px;
  }
}

.stats-cont {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 48rem) {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 40px;
  }

  @media screen and (min-width: 90rem) {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 105px 60px;
  }
}

.stat {
  margin-bottom: rem(32);
  text-align: center;

  @media screen and (min-width: 48rem) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 90rem) {
    text-align: left;
  }
}

.stat:last-of-type {
  margin-bottom: 0;
}

.testimonial {
  position: relative;
  height: rem(930);

  @media screen and (min-width: 48rem) {
    height: rem(400); //change height to change overlap of footer
    margin: 0 40px;
  }

  @media screen and (min-width: 90rem) {
    margin: 0 167px;
    height: rem(450);
  }
}

.t-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;

  @media screen and (min-width: 90rem) {
    flex-direction: row;
    left: 25%;
    bottom: -419px;
    padding-left: 100px;
  }
}

.t-text {
  background-color: var(--dark-blue);
  border-radius: 15px;
  padding-top: 360px;
  padding-bottom: 64px;
  position: absolute;
  top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  @media screen and (min-width: 90rem) {
    text-align: left;
    padding: 88px 120px 88px 634px;
  }
}

.jeremy {
  width: 252px;
  background-image: url("../../assets/pattern-blur.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  @media screen and (min-width: 90rem) {
    width: 360px;
  }
}

.curve2 {
  margin-top: 40px;
  margin-bottom: 40px;

  @media screen and (min-width: 90rem) {
    margin: 0 0 100px 35px;
  }
}

footer {
  background-color: var(--cream);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 48rem) {
    flex-direction: row;
    padding: 535px 40px 72px;
  }

  @media screen and (min-width: 90rem) {
    padding: 360px 167px 72px;
  }
}

.footer-logo {
  width: 81px;
  height: 32px;
}

.soc-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tw {
  margin-left: 28px;
  margin-right: 28px;
}
