@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Don\'t use units when using the rem() function; only numbers.';
  }
}

body {
  font-family: "Epilogue", sans-serif;
}

.bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-weight: 400;
  font-size: rem(38);
  line-height: rem(44);
  letter-spacing: rem(-0.5);
  color: var(--dark-blue);

  @media screen and (min-width: 48rem) {
    font-size: rem(56);
    line-height: rem(64);
    letter-spacing: rem(-0.8);
  }

  @media screen and (min-width: 80rem) {
    font-size: rem(72);
    line-height: rem(78);
    letter-spacing: rem(-1);
  }
}

h2 {
  font-weight: 400;
  font-size: rem(48);
  line-height: rem(56);
  letter-spacing: rem(-0.5);
}

h3 {
  font-size: rem(40);
  line-height: rem(48);
  letter-spacing: rem(-0.4);
  font-weight: 400;
  color: var(--cream-white);
}

h4 {
  font-size: rem(18);
  line-height: rem(32);
  letter-spacing: rem(-0.2);
  text-transform: uppercase;
  color: var(--cream-white);
}

h5 {
  font-size: rem(16);
  line-height: rem(26);
  letter-spacing: rem(2.5);
  text-transform: uppercase;
  font-weight: 400;
  color: var(--cream-white);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.hero p {
  color: var(--grey);
  font-size: rem(16);
  line-height: rem(28);
  letter-spacing: rem(0.1);
}

.hero-text {
  @media screen and (min-width: 48rem) {
    padding-right: 140px;
  }
}

.stat p {
  text-transform: uppercase;
  letter-spacing: rem(2.5);
}

.quote {
  font-size: rem(18);
  line-height: rem(32);
  letter-spacing: rem(0.1);
  color: var(--cream);
  margin: 40px 16px;

  @media screen and (min-width: 48rem) {
    padding: 0 60px;
  }
}

.copyright {
  color: var(--grey);
  font-size: rem(15);
  line-height: rem(32);
  margin-top: 33px;
  margin-bottom: 33px;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

//buttons

button {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  border-radius: 6px;
}

.btn-lt {
  background-color: white;
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  width: rem(182);
  height: rem(48);
  font-size: rem(14);
  line-height: rem(24);
  letter-spacing: rem(-0.15);

  @media screen and (min-width: 48rem) {
    width: rem(219);
    height: rem(56);
    font-size: rem(16);
    line-height: rem(32);
  }

  @media screen and (min-width: 80rem) {
    width: rem(256);
    height: rem(61);
    font-size: rem(18);
    line-height: rem(32);
  }
}

.btn-lt:hover {
  background-color: var(--dark-blue);
  color: var(--cream-white);
  border: none;
  cursor: pointer;
}

.btn-dark {
  background: var(--dark-blue);
  color: var(--cream-white);
  font-size: rem(18);
  width: rem(256);
  height: rem(61);
  line-height: rem(32);
}

.btn-dark:hover {
  cursor: pointer;
  border: none;
  background: linear-gradient(170deg, var(--fuschia) 50%, var(--yellow));
}
